<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@700&family=Varela+Round&display=swap"
      rel="stylesheet"
    />
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>Document</title>
    <style>
      body {
        margin: 0;
        padding: 0;
        font-family: "Nunito", sans-serif;
        font-family: "Varela Round", sans-serif;
        background-color: #f4f4f4;
      }
      header {
        font-weight: bolder;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        color: white;
      }
      .header {
        z-index: 1;
        position: fixed;
        background-color: #333333;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
        top: 0;
        left: 0;
        width: 98%;
      }
      .header img {
        border-radius: 50%;
        height: 3rem;
        width: 3rem;
        z-index: 1;
        transition: all 0.3s;
        cursor: pointer;
      }
      .header .menu {
        background-color: white;
        position: absolute;
        right: 1.1rem;
        height: 3rem;
        width: 10rem;
        border-radius: 32px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        transition: all 0.5s;
        opacity: 0;
        display: none;
      }
      .header .menu:hover {
        background-color: red;
      }
      .header .menu a {
        text-decoration: none;
        color: black;
        font-weight: bolder;
        padding: 0.9rem 2rem;
        border-radius: 32px;
        cursor: url("/images/cursor.png"), auto;
        transition: all 0.5s;
      }
      .header .menu a:hover {
        color: white;
      }
      @media only screen and (max-width: 1051px) {
        .header {
          width: 97%;
        }
        body > .wrapper > .cards > ul li h2{
          font-size: 0.9rem;
        }
      }
      @media only screen and (max-width: 770px) {
        header {
          font-size: 1.5rem;
        }
        .header {
          width: 96%;
        }
        body > .wrapper > .cards > ul li * {
          font-size: 0.9rem;
        }
        body > .wrapper > .cards > ul li  a  h1{
          font-size: 1.3rem;
        }
        body > .wrapper > .cards > ul li  a  h2{
          font-size: 0.8rem;
        }
      }
      @media only screen and (max-width: 592px) {
        body > .wrapper > .cards > ul li  a  h1{
          font-size: 1rem;
        }
        body > .wrapper > .cards > ul li  a  h2{
          font-size: 0.6rem;
        }
        body > .wrapper > .cards > ul li  a  p{
          font-size: 0.6rem;
        }
      }
      @media only screen and (max-width: 574px) {
        body > div > div.header > div.menu > a > img {
          height: 2.5rem;
          width: 2.5rem;
          margin-left: 4px;
        }
        body > div > div.header > div.menu > a {
          padding: 0;
          display: flex;
          justify-content: center;
        }
        body > div > div.header > div.menu {
          width: 20%;
        }
      }
      @media only screen and (max-width: 490px) {
        header {
          font-size: 1rem;
        }
        .header img {
          height: 2.5rem;
          width: 2.5rem;
        }
        footer * {
          font-size: 0.5rem;
        }
        body > div > div.header > div.menu > a > img {
          height: 2rem;
          width: 2rem;
        }
        body > div > div.header > div.menu {
          height: 55%;
        }
        .header {
          width: 94%;
        }
        body > div.wrapper > div.cards > ul {
          padding: 0 1rem;
        }
      }
      @media only screen and (max-width: 389px) {
        body > div > div.header > div.menu {
          width: 25%;
        }
        body > .wrapper > .cards > ul li  a  h1{
          font-size: 0.85rem;
        }
      }
      @media only screen and (max-width: 348px) {
        body > div > div.header > div.menu > a > img {
          height: 1.5rem;
          width: 1.5rem;
        }
        .header img {
          height: 1.75rem;
          width: 1.75rem;
        }
        body > div > div.header > div.menu {
          height: 50%;
          width: 20%;
        }
        .header {
          width: 91%;
        }
      }
      footer {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #333333;
        margin: 0;
        font-size: 0.8rem;
        color: white;
      }
      body > .wrapper > .cards > ul {
        min-height: 57.2vh;
        margin: 8rem 0;
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        padding: 0 4rem;
      }
      body > .wrapper > .cards > ul li {
        cursor: url("/images/cursor.png"), auto;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.303);
        padding: 0.5rem 1rem;
        transition: all 0.3s;
      }
      body > .wrapper > .cards > ul li a{
        display: grid;
        grid-template-columns: 8fr 2fr;
        gap:2rem;
      }
      body > .wrapper > .cards > ul li h1{
        font-family: "Exo 2", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
        display: flex;        
        align-items: center;
        font-size: 1.7rem;     
      }
      body > .wrapper > .cards > ul li:hover {
        transform: scale(1.01, 1.01);
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.448);
      }
      body > .wrapper > .cards > ul li:active {
        transform: scale(0.98, 0.98);
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.947);
      }
      body > .wrapper > .cards > ul li * {
        cursor: url("/images/cursor.png"), auto;
        color: black;
      }
      
      body > .wrapper > .cards > ul li a p {
        color: rgb(125, 121, 121);
        font-weight: bold;
      }
    </style>
  </head>
  <body>
    <div class="wrapper">
      <div class="header">
        <div class="menu">
          <a href="/auth/google/logout">Log Out</a>
        </div>
        <div></div>
        <header>IDP Registration Portal</header>
        <img src="https://picsum.photos/id/234/600/400" alt="" />
      </div>
      <div class="cards">
        <ul>
          <% available_topics.forEach((element, index) => {%>
            <li>
              <a href="/confirmation?q=<%= available_topics_id[index] %>" style="text-decoration: none">
                <h1><%= element %></h1>
                <div class="teachers_info">
                  <h2><%= teachers[index] %></h2>
                  <p><%= designation[index] %></p>
                </div>
              </a>
            </li>
          <% }) %>
        </ul>
      </div>      
    </div>
    <footer>
      <p>&copy; 2024 IDP Registration Portal. All rights reserved.</p>
      <div class="icons8">
        <a
          target="_blank"
          href="https://icons8.com/icon/xrwE2Qxg9XYK/hand-cursor"
          >Cursor</a
        >
        icon by <a target="_blank" href="https://icons8.com">Icons8</a>
      </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script>
      let count = 1;
      $("body > div > div.header > img").click(function () {
        if ($(window).width() < 574) {
          $("body > div > div.header > div.menu > a").html(
            "<img src='/images/logout.png'></img>"
          );
        } else {
          $("body > div > div.header > div.menu > a").html("Log Out");
        }
        count++;
        if (count % 2 == 0) {
          $("body > div > div.header > div.menu").css("opacity", "1");
          $("body > div > div.header > div.menu").css("display", "flex");
          // $("body > div > div.header > div.menu").addClass("revealMenu");
          // $("body > div > div.header > div.menu").removeClass("hideMenu");
        } else {
          $("body > div > div.header > div.menu").css("opacity", "0");
          $("body > div > div.header > div.menu").css("display", "none");
          // $("body > div > div.header > div.menu").removeClass("revealMenu");
          // $("body > div > div.header > div.menu").addClass("hideMenu");
        }
      });
      let count1 = 1;
      $("body > div > div.header > div.menu").click(function () {
        count1++;
        if (count1 % 2 == 0) {
          $("body > div > div.header > div.menu").css("opacity", "1");
          $("body > div > div.header > div.menu").css("display", "flex");
          // $("body > div > div.header > div.menu").removeClass("hideMenu");
          // $("body > div > div.header > div.menu").addClass("revealMenu");
        } else {
          $("body > div > div.header > div.menu").css("opacity", "0");
          $("body > div > div.header > div.menu").css("display", "none");
          // $("body > div > div.header > div.menu").removeClass("revealMenu");
          // $("body > div > div.header > div.menu").addClass("hideMenu");
        }
      });
    </script>
  </body>
</html>
